			<section id="one" class="wrapper style1">
				<div class="inner">
					<article class="feature left">
						<span class="image"><%= link_to(image_tag("pic02.jpg"))%></span>
						<div class="content">
							<h2>Contact</h2>
							<p><b>OFFICE LOCATION:</b><br/>

Bhopal City Link Ltd.<br/>
2nd Floor, Harshwardhan Complex,
Mata Mandir Square, T.T. Nagar,
Bhopal (MP) 462003<br/>
OR CALL US: 0755 4074843<br/>
EMAIL US: bcll_bpl@rediffmail.com</p>
							<ul class="actions">
								<li>
									<a href="#" class="button alt">More</a>
								</li>
							</ul>
						</div>
					</article>		
				</div>
				<div class="container">
				<h2>Helpline Number</h2>
										<table style="width:100%">
											<th
												<td>S.No.</td>
												<td><b>Title</b></td>
												<td><b>Numbers</b></td>
											</th>
										  <tr>
										    <td>1.</td>
										    <td>My Bus Help Line</td> 
										    <td>+91 755 – 31 999 66 <br/>+91 755 – 40 748 43</td>
										  <tr>
										    <td>2.</td>
										    <td>Chartered Bus (Volvo) Bhopal ->Indore -> Bhopal</td> 
										    <td>+91 731 – 42 88 888<br/>+91 9932  88 888</td>
										</table>
				</div>
			</section>