	<section class="page-title background-title dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-uppercase">Gallery</h3>
                    </div>
                </div>
            </div>
        </section>


        <!--body content start-->
        <section class="body-content page-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <div class="text-center">
                            <ul class="portfolio-filter">
                                <li class="active"><a href="#" data-filter="*"> All</a></li>
                                <li><a href="#" data-filter=".cat3">illustration</a></li>
                                <li><a href="#" data-filter=".cat4">media</a></li>
                            </ul>
                        </div>

                        <div class="portfolio col-3 portfolio-gallery gutter ">

                            <div class="portfolio-item cat1 cat3 ">
                                <div class="thumb">
                                    <img src="img/pic01.jpg" alt="">
                                    <div class="portfolio-hover">
                                        <div class="action-btn">
                                            <a href="img/pic01.jpg" class="popup-gallery" title="Title 1"> <i class="icon-basic_magnifier"></i>  </a>
                                        </div>
                                        <div class="portfolio-description">
                                            <h4><a href="img/pic01.jpg" class="popup-gallery2" title="Title 1">lightbox view</a></h4>
                                            <p><a href="#">category</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="portfolio-item cat3 cat4 ">
                                <div class="thumb">
                                    <img src="img/pic02.jpg" alt="">
                                    <div class="portfolio-hover">
                                        <div class="action-btn">
                                            <a href="img/pic02.jpg" class="popup-gallery" title="Title 2"> <i class="icon-basic_magnifier"></i>  </a>
                                        </div>
                                        <div class="portfolio-description">
                                            <h4><a href="img/pic02.jpg" class="popup-gallery2" title="Title 2">lightbox view</a></h4>
                                            <p><a href="#">category</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="portfolio-item cat3 cat5 ">
                                <div class="thumb">
                                    <img src="img/pic03.jpg" alt="">
                                    <div class="portfolio-hover">
                                        <div class="action-btn">
                                            <a href="img/pic03.jpg" class="popup-gallery" title="Title 3"> <i class="icon-basic_magnifier"></i>  </a>
                                        </div>
                                        <div class="portfolio-description">
                                            <h4><a href="img/pic03.jpg" class="popup-gallery2" title="Title 3">lightbox view</a></h4>
                                            <p><a href="#">category</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="portfolio-item cat3 cat4 ">
                                <div class="thumb">
                                    <img src="img/pic04.jpg" alt="">
                                    <div class="portfolio-hover">
                                        <div class="action-btn">
                                            <a href="img/pic04.jpg" class="popup-gallery" title="Title 4"> <i class="icon-basic_magnifier"></i>  </a>
                                        </div>
                                        <div class="portfolio-description">
                                            <h4><a href="img/pic04.jpg" class="popup-gallery2" title="Title 4">lightbox view</a></h4>
                                            <p><a href="#">category</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="portfolio-item cat3 cat4">
                                <div class="thumb">
                                    <img src="img/pic05.jpg" alt="">
                                    <div class="portfolio-hover">
                                        <div class="action-btn">
                                            <a href="img/pic05.jpg" class="popup-gallery" title="Title 5"> <i class="icon-basic_magnifier"></i>  </a>
                                        </div>
                                        <div class="portfolio-description">
                                            <h4><a href="img/pic05.jpg" class="popup-gallery2" title="Title 5">lightbox view</a></h4>
                                            <p><a href="#">category 3</a> , <a href="#">category 4</a> </p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="portfolio-item cat1 cat4 cat3 cat5">
                                <div class="thumb">
                                    <img src="img/pic06.jpg" alt="">
                                    <div class="portfolio-hover">
                                        <div class="action-btn">
                                            <a href="img/pic06.jpg" class="popup-gallery" title="Title 6"> <i class="icon-basic_magnifier"></i>  </a>
                                        </div>
                                        <div class="portfolio-description">
                                            <h4><a href="iimg/pic06.jpg" class="popup-gallery2" title="Title 6">lightbox view</a></h4>
                                            <p><a href="#">category 5</a> , <a href="#">category 6</a> </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="portfolio-item cat3 cat5">
                                <div class="thumb">
                                    <img src="img/pic07.jpg" alt="">
                                    <div class="portfolio-hover">
                                        <div class="action-btn">
                                            <a href="img/pic07.jpg" class="popup-gallery" title="Title 7"> <i class="icon-basic_magnifier"></i>  </a>
                                        </div>
                                        <div class="portfolio-description">
                                            <h4><a href="img/pic07.jpg" class="popup-gallery2" title="Title 7">lightbox view</a></h4>
                                            <p><a href="#">category</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="portfolio-item cat2 cat3">
                                <div class="thumb">
                                    <img src="img/pic08.jpg" alt="">
                                    <div class="portfolio-hover">
                                        <div class="action-btn">
                                            <a href="img/pic08.jpg" class="popup-gallery" title="Title 8"> <i class="icon-basic_magnifier"></i>  </a>
                                        </div>
                                        <div class="portfolio-description">
                                            <h4><a href="img/pic08.jpg" class="popup-gallery2" title="Title 8">lightbox view</a></h4>
                                            <p><a href="#">category</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="portfolio-item cat2 cat4">
                                <div class="thumb">
                                    <img src="img/pic09.jpg" alt="">
                                    <div class="portfolio-hover">
                                        <div class="action-btn">
                                            <a href="img/pic09.jpg" class="popup-gallery" title="Title 9"> <i class="icon-basic_magnifier"></i>  </a>
                                        </div>
                                        <div class="portfolio-description">
                                            <h4><a href="img/pic09.jpg" class="popup-gallery2" title="Title 9">lightbox view</a></h4>
                                            <p><a href="#">category</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </section>