	<section id="fullscreen-banner" class="video-parallax overlay-background vertical-align text-center">
            <div class="overlay-block"></div>

            <!--video source start-->
            <video poster="img/videos/lasvegas-poster.jpg" preload="auto" loop autoplay muted>
                <source src='img/videos/lasvegas.mp4' type='video/mp4'/>
                <source src='img/videos/lasvegas.webm' type='video/webm'/>
            </video>
            <!--video source end-->

            <div class="container-mid">
                <div class="container">
                    <div class="banner-box">
                        <h1 class="text-uppercase light-txt">My Bus Bhopal</h1>
                        <h3 class="text-uppercase light-txt">An Alternate Means of Tranport</h3>
                    </div>
                </div>
            </div>

      </section>
	 <section class="body-content">
	            <div class="container">
	                <div class="row page-content">
	                    <div class="post-list-aside">
	                        <div class="post-single">
	                            <div class="col-md-6">
	                                <div class="post-slider post-img text-center">
	                                    <ul class="slides">
	                                        <li data-thumb="img/post/p1.jpg">
	                                            <a href="javascript:;" title="Freshness Photo"><img src="img/Slide 03.jpg" alt=""></a>
	                                        </li>
	                                        <li data-thumb="img/post/p2.jpg">
	                                            <a href="javascript:;" title="Awesome Lightbox"><img src="img/Slide 04.jpg" alt=""></a>
	                                        </li>
	                                        <li data-thumb="img/post/p3.jpg">
	                                            <a href="javascript:;" title="Massive UI Components"><img src="img/Slide 05.jpg" alt=""></a>
	                                        </li>
	                                    </ul>
	                                </div>
	                            </div>
	                            <div class="col-md-6">
	                                <div class="">
	                                    <h4 class="text-uppercase">
	                                         WELCOME TO MY BUS BHOPAL
	                                    </h4>

	                                    <p>
	                                         A Special Purpose Vehicle (SPV) in the name of Bhopal City Link Ltd (BCLL) is majorly owned company of Bhopal Municipal Corporation, incorporated in 2006 to provide an organized dimensions to public transportation of Bhopal, a city on fast track of development with honorable Mayor at its chain and Municipal Commissioner as Managing Director supported by an independent Chief Executive Officer (CEO). BCLL has been successful in fulfilling the municipal responsibility of providing Motor Transport facility for the conveyance of public mandated under Sec 66 (S) of Municipal Corporation Act. Its Caravan, which begin with just 30 buses in 2006, after receiving JnNURM Sanction, has grown to 225 buses comprising of AC Low Floor and Super Luxury Volvo Buses. Presently 185 no. of 900 mm floor ht. Buses & 20 no. of AC 400 mm floor ht. Buses are plying on the different 12 approved routes of Bhopal city including BRTS route.<a href="/about" class="btn btn-extra-small btn-dark-border  "> Learn More</a>
	                                    </p>

	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
			</section>
			<div class="page-content">
			                <div class="container">
			                    <div class="row">
			                        <!--post style 4 start-->
			                        <div class="post-list-aside">
			                            <div class="post-single">

			                                <div class="col-md-6">
			                                    <div class="post-desk">
			                                        <div class="m-bot-30">
			                                            <h4 class="text-uppercase">
			                                                WORLD BANK GEF-5 PROJECT
			                                            </h4>
			                                        </div>

			                                        <p>
			                                            Bhopal City Link Limited (BCLL) has been selected as one of the project cities for implementing the Global Environmental Facility (GEF) – Efficient and Sustainable City Bus Transport Service Project (ESCBSP). The project aims to encourage city bus operations in India’s urban transport systems. The Ministry of Urban Development (MoUD) is the Government of India, representative responsible for implementing the project. <a href="#" class="btn btn-extra-small btn-dark-border  "> Learn More</a>
			                                        </p>
			                                    </div>
			                                </div>

			                                <div class="col-md-6">
			                                    <div class="post-img">
			                                        <img src="img/pic02.jpg" alt="">
			                                    </div>
			                                </div>

			                            </div>
			                        </div>
			                        <!--post style 4 end-->
			                    </div>
			                </div>
			            </div>
		<div class="testimonial-parallax ">
		                <div class="overlay-dark page-content">
		                    <div class="container">
		                        <div class="row">
		                            <div class="col-md-12">
		                                <!--testimonial start-->
		                                <div id="testimonial-5" class="text-center light-txt big-icon ">
		                                    <div class="item">
		                                        <div class="testimonial-thumb">
		                                            <img class="img-circle" src="img/pic01.jpg" alt="">
		                                        </div>

		                                        <div class="content">
		                                            <p class="half-txt">
		                                              It tranforms the way of travel
		                                            </p>
		                                            <div class="testimonial-meta">
		                                                - Kevin Paige -
		                                                <span>ABC</span>
		                                            </div>
		                                        </div>
		                                    </div>
		                                    <div class="item">
		                                        <div class="testimonial-thumb">
		                                            <img class="img-circle" src="img/pic03.jpg" alt="">
		                                        </div>
		                                        <div class="content">
		                                            <p class="half-txt">Really makes journey safe and easy. </p>
		                                            <div class="testimonial-meta">
		                                                - John Doe -
		                                                <span>head of marketing, TB</span>
		                                            </div>
		                                        </div>
		                                    </div>
		                                    <div class="item">
		                                        <div class="testimonial-thumb">
		                                            <img class="img-circle" src="img/pic04.jpg" alt="">
		                                        </div>
		                                        <div class="content">
		                                            <p class="half-txt">Nice Work</p>
		                                            <div class="testimonial-meta">
		                                                - Linda Smith -
		                                                <span>CEO, TB</span>
		                                            </div>
		                                        </div>
		                                    </div>

		                                </div>
		                                <!--testimonial end-->
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		