	<section class="page-title background-title dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-uppercase">Tenders</h3>
                    </div>
                </div>
            </div>
        </section>
<div class="page-content">
                <div class="container">
                    <div class="row">

                        <div class="col-md-8 col-md-offset-2">

					<table class="table table-hover">
						<th
							<td>S.No.</td>
							<td><b>Title and Ref.No./Tender Id</b></td>
							<td><b>Published Date</b></td>
							<td><b>Closing Date</b></td>
							<td><b>Downloads</b></td>
						</th>
					  <tr>
					    <td>1.</td>
					    <td>NIT No- 28 “Selection of Service Provider for Supply, Installation, Testing and Maintenance of CCTV Cameras at ISBT Campus</td> 
					    <td>08/10/2015</td>
						<td>23/10/2015</td>
						<td><a href="data/NIT_28_RFP_CCTV_BCLL_ISBT_DEPOT -Final.pdf" class="btn btn-extra-small btn-dark-solid ">Download</a></td>
					  </tr>
					  <tr>
					    <td>2.</td>
					    <td>NIT No 27 – “Selection of Service Provider for Supply of Spare Parts for BCLL’s City Buses”</td> 
					    <td>09/10/2015</td>
						<td>23/10/2015</td>
						<td><a href="data/NIT 27_RFP_Spare Parts_BCLL_ISBT_DEPOT.pdf" class="btn btn-extra-small btn-dark-solid  ">Download</a></td>
					  </tr>
					  <tr>
					    <td>3.</td>
					    <td>Engagement of operator for city bus operation s on city bus corridor | T.N.624/015/016</td> 
					    <td>24/9/2015</td>
						<td>.....</td>
						<td><a href="data/tender1.jpg" class="btn btn-extra-small btn-dark-solid  ">Download</a><br/><a href="data/RFP_Bus Operator_BRTS(1).pdf" class="btn btn-extra-small btn-dark-solid  ">Download</a></td>
					  </tr>
					  <tr>
					    <td>4.</td>
					    <td>Detailed scope of Work for Consultant for Management Information System (MIS)<br/>
Implementation Support Selection of Project Consultant for MIS Implementation<br/>
REQUEST FOR EXPRESSIONS OF INTEREST Selection of Project Consultant for MIS Implementation tender invitation</td> 
					    <td>.....</td>
						<td>.....</td>
						<td><a href="data/Bhopal - ToR for MIS Implementation.pdf" class="btn btn-extra-small btn-dark-solid  ">Download</a><br/><a href="#" class="btn btn-extra-small btn-dark-solid  ">Download</a><br/><a href="#" class="btn btn-extra-small btn-dark-solid  ">Download</a></td>
					  </tr>
					  <tr>
					    <td>5.</td>
					    <td>Engagement of Agency for Construction of Bus–Q-Shelters (BQS‟s) on Built, Own, Operate, Maintain &amp Transfer basis.</td> 
					    <td>.....</td>
						<td>.....</td>
						<td><a href="#" class="btn btn-extra-small btn-dark-solid  ">Download</a></td>
					  </tr>
					</table>
				</div>
			</div
		</div>
</div>
